<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Expense</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/expenses">Expenses</a></li>
        <!-- <li><a href="/monthlyexpenses">Monthly Expenses</a></li> -->
      </ul>
    </nav>

    <div class="container">
      <h1>Expense has been recorded</h1>
      <% if (errors && errors.length > 0) { %>
      <div class="error-messages">
        <ul>
          <% errors.forEach(error => { %>
          <li><%= error %></li>
          <% }) %>
        </ul>
      </div>
      <% } %>
    </div>
  </body>
</html>
