<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <rel="stylesheet" href="index.css" />

    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/expenses">Expenses</a></li>
      </ul>
    </nav>
   
      <h1>
        Expenses
      </h1>
      <div>
        <table>
          <tr>
            <th>ID</th>
            <th>Transaction Dat</th>
            <th>Total</th>
          </tr>
          <% if (receipts.length >0) { 
          <% receipts.forEach(receipt => { %>
            <td><%= receipt.ID></td>
            <td><%= receipt.transaction_date %></td>
            if (totals.length >0) {
              <% totals.forEach(total => { %>
                if (total.id = receipt.id) {
  
              <td><%= total.total %></td>
                }
              <% }) %>
              <% } %>
          <% }) %>
          <% } %>
          <tr>
            
          </tr>
         
        </table>
    </div>
  </body>
</html>
